@import url("normalize.css");

:root {
    /* COLORS */
    --color--one: #14152d;
    --color--two: #9499c3;
    --color--three: #298bfe;
    --color--four: #e52d2d;
    --color--five: #ffffff;
    --color--six: #ffd733;


    /* RADIUS */
    --radius: 10px;

    /* SIZES */
    --desktop: 1000px;
    --movil: 700px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

h1 {
    color: var(--color--five);
}

img {
    width: 100%;
}

/* WRAPPER */

.wrapper {
    background: rgb(41, 139, 254);
    background: linear-gradient(0deg, rgba(41, 139, 254, 1) 0%, rgba(20, 21, 45, 1) 90%);
    height: 100vh;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

.wrapper__nav-section {
    width: 280px;
    height: 100%;
    border-radius: var(--radius);
    background-color: var(--color--five);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    max-width: 250px;
}

/* NAV */
.nav {
    align-self: flex-start;
    padding-left: 2rem;
    padding-bottom: 10rem;
}

.nav__item {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.nav__item a {
    color: var(--color--two);
}

.nav__item a:hover,
.nav__item a:active {
    color: var(--color--one);
}

/* MAIN */
.wrapper__main {
    background-color: #00000073;
    flex: 1;
    height: 100%;
    border-radius: var(--radius);
    overflow-y: scroll;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

/* CARDS HISTORY */
.card {
    background-color: #0000005b;
    color: #ffffff;
    /* max-width: 250px; */
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* Número de líneas permitidas */
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    border-radius: var(--radius);
}

.card__title {
    font-size: 1rem;
    /* text-align: center; */
}

.card__details {
    font-size: 0.725rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    overflow: hidden;
}

.card > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.625rem;
    margin-top: 1rem;
    color: var(--color--six);
    position: relative;
    bottom: 0;
}

.card__article {
    font-size: 1rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.2rem;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: fit-content;
    height: fit-content; */
}
/* CONTAINER */
/* .container {
    padding: 2rem;
}

.container > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container section {
    height: 100%;
} */